<div class="mb-8 text-center">
  <span class="text-3xl font-bold">
    商品一覧
  </span>
</div>

<div class="flex justify-between items-center mb-5">
  <!-- 検索フォーム -->
  <%= render 'search_form' %>

  <!-- 並び替えリンク -->
  <div class="flex">
    <div class="mb-3 w-fit text-md font-medium mr-2 px-4 py-1.5 rounded <%= @sort === 'latest' ? 'bg-gray-800 text-gray-100' : 'bg-gray-100 text-gray-800' %>">
      <%= link_to '新しい順', products_path(latest: true) %>
    </div>
    <div class="mb-3 w-fit text-md font-medium mr-2 px-4 py-1.5 rounded <%= @sort === 'price_high_to_low' ? 'bg-gray-800 text-gray-100' : 'bg-gray-100 text-gray-800' %>">
      <%= link_to '価格が高い順', products_path(price_high_to_low: true) %>
    </div>
    <div class="mb-3 w-fit text-md font-medium mr-2 px-4 py-1.5 rounded <%= @sort === 'price_low_to_high' ? 'bg-gray-800 text-gray-100' : 'bg-gray-100 text-gray-800' %>">
      <%= link_to '価格が低い順', products_path(price_low_to_high: true) %>
    </div>
  </div>
</div>
<!-- 検索結果表示 -->
<div class='flex flex-wrap justify-center'>
  <% if @products.any? %>
    <% @products.each do |product| %>
      <div class="w-full max-w-sm rounded-lg xl:w-4/12 md:w-6/12">
        <%= link_to product_path(product) do %>
          <%= image_tag product.image, class: "p-5 object-cover" %>
          <div class="px-5 pb-5">
            <p class="text-3xl font-semibold tracking-tight text-gray-900 mb-4"><%= product.name %></p>
               <!-- タグの表示部分 -->
            <div class="mb-2 min-h-[2rem]">
              <% if product.tag_list.any? %>
                <% product.tag_list.each do |tag| %>
                  <span class="inline-block bg-green-100 text-green-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded"><%= tag %></span>
                <% end %>
              <% end %>
            </div>
            
            
            <div class="flex justify-between items-center">
              <span class="text-3xl font-bold text-gray-900"><%= number_to_currency(product.price, unit: "¥", strip_insignificant_zeros: true) %></span>
              <% if product.stock > 0 %>
                <span class="bg-blue-100 text-blue-800 text-xs font-semibold p-2 rounded">在庫あり</span>
              <% else %>
                <span class="bg-red-100 text-red-800 text-xs font-semibold p-2 rounded">在庫なし</span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p class="text-center text-xl font-semibold text-red-600 mt-5">検索結果がありません</p>
  <% end %>
</div>